*{
margin: 0%;
padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(14, 127, 135);
    }

h2{
    color: rgb(235, 248, 248);
    background-color: rgba(4, 33, 30, 0.747); 
    text-align: center;
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%;
    }

    p{
        color: aliceblue;
    }

#box1{
    margin: 10%;
    padding: 5%;
    font-size: x-large;
    border-radius: 10%;
    background-color: coral;
    box-shadow: 0px 0px 50px rgb(5, 60, 44);
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.topic{
    margin-top: 5%;
    color: rgb(243, 151, 71);
    background-color: rgb(43, 25, 6);
    

}

.explanation{
    color: antiquewhite;
    margin-top: 10px;

}

.example{
    margin-top: 5%;

}

.image{
    margin-right: 15%;
    margin-top: 5%;
    margin-left: 15%;
    align-items: center;
    box-shadow: 0px 0px 10px black;

}

li{
    color: rgb(255, 255, 255);
}

#box2{
    margin: 10%;
    padding: 5%;
    font-size: x-large;
    background-color: coral;
    box-shadow: 0px 0px 50px rgb(5, 60, 44);
    border-radius: 10%;
    /*-webkit-border-radius: 20px%;
    */:;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
#box3{
    height: 20%;
    width: 100%;
    display: flex;
    gap: 25%;
    align-items: center;
    background-color: rgb(2, 27, 31);
    color: rgb(122, 255, 255);
}
